---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="min-h-screen bg-gradient-to-b from-white to-purple-300 flex items-center justify-center">
		<img 
			src="/invernis_logo.svg" 
			alt="INVERNIS" 
			class="max-w-md w-full"
		/>
	</body>
</html>
